## Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Bb]uild/
[Bb]uild[Ll]og.*

## Visual Studio files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.VC.db
*.VC.VC.opendb
*.ncb
*.aps
*.psess
*.vsp
*.vspscc
*.vssscc
*.vshost.*
*.dbmdl
*.opendb
*.ipch
*.VC.db-shm
*.VC.db-wal

## Rider / JetBrains
.idea/
*.iml

## NuGet
*.nupkg
*.snupkg
packages/
.nuget/
project.lock.json
project.fragment.lock.json
artifacts/

## Cache
*.cache/
*.config
*.tmp
*.temp
*.bak
*.log
*.svclog
*.pidb

## Publish
publish/
dist/
out/

## Testing / Coverage
TestResult*/
[Tt]est[Rr]esults/
*.coverage
*.coveragexml

## Entity Framework
migrations/
_MigrationHistory/

## Misc / OS
ehthumbs.db
[Tt]humbs.db
Desktop.ini
$RECYCLE.BIN/
*.stackdump

## Other tools
*.DS_Store
*.swp
*.swo
*.orig
*.rej
*.bak
*.old
*.idb

## Resharper / StyleCop
_ReSharper*/
*.DotSettings.user
*.DotSettings

## Local environment
*.local.json
.env
.env.*

## VS Code
.vscode/

## OneDrive / cloud sync artifacts
*.tmp~
~$*
~*.tmp